In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv("USA_Housing.csv")
df = df.drop(labels="Address", axis = 1)
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [30]:
trainX = np.c_[np.ones(3000), df[["Avg. Area Income", "Avg. Area House Age", "Avg. Area Number of Rooms", "Avg. Area Number of Bedrooms", "Area Population"]].iloc[:3000,:].to_numpy()]
trainY = df["Price"].iloc[:3000].to_numpy()

theta = np.linalg.inv(trainX.T @ trainX) @ trainX.T @ trainY

In [31]:
theta

array([-2.62453333e+06,  2.16815459e+01,  1.65536518e+05,  1.19233861e+05,
       -1.97088490e+02,  1.51585332e+01])

In [35]:
testX = np.c_[np.ones(2000), df[["Avg. Area Income", "Avg. Area House Age", "Avg. Area Number of Rooms", "Avg. Area Number of Bedrooms", "Area Population"]].iloc[3000:,:].to_numpy()]
testY = df["Price"].iloc[3000:].to_numpy()

predictY = testX @ theta

cost = np.sum((predictY - testY) ** 2) / (2 * len(testY))
rmse = np.sqrt(np.mean((predictY - testY) ** 2))

print(f"{rmse}         {cost}")

101514.16484018072         5152562831.599691